name: Build KernelSU GKI (Pixel 6)
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build GKI Kernel
        uses: utsushii/gki-build-action@main
        with:
          arch: arm64
          # Версия GKI для Pixel 6 на Android 16
          kernel_version: 5.10
          # Включаем KernelSU
          kernelsu: true
          kernelsu_version: main
