name: Build KernelSU GKI
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build GKI
        uses: Xiaoxindada/GKI_Kernel_Action@main
        with:
          GKI_VERSION: 'android12-5.10'
          KSU_ENABLED: true
          KSU_VERSION: 'main'
