name: Build Pixel 6 GKI KernelSU
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Setup Environment
        run: |
          sudo apt-get update
          sudo apt-get install -y git-core gnupg flex bison build-essential zip curl zlib1g-dev gcc-multilib g++-multilib libc6-dev-i386 libncurses5 lib32ncurses5-dev x11proto-core-dev libx11-dev lib32z1-dev libgl1-mesa-dev libxml2-utils xsltproc unzip bc python3

      - name: Install Repo Tool
        run: |
          mkdir ~/bin
          curl https://storage.googleapis.com > ~/bin/repo
          chmod a+x ~/bin/repo

      - name: Sync GKI Source
        run: |
          mkdir kernel && cd kernel
          ~/bin/repo init -u https://android.googlesource.com -b common-android12-5.10
          ~/bin/repo sync -j$(nproc)

      - name: Add KernelSU
        run: |
          cd kernel/common
          curl -LSs "https://raw.githubusercontent.com" | bash -s main

      - name: Build Kernel
        run: |
          cd kernel
          tools/bazel build //common:kernel_aarch64_dist
