name: Build Pixel 6 GKI KernelSU
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build GKI Kernel
        uses: xiaoxindada/gki-kernel-builder@main
        with:
          arch: arm64
          # Версия ядра для Pixel 6 (oriole)
          kernel_version: 5.10
          # Включаем KernelSU
          kernelsu: true
          kernelsu_version: main
          # Параметры для GKI
          lto: thin
