name: Build KernelSU
on:
  workflow_dispatch: # Это создаст ту самую кнопку

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Hello
        run: echo "Скрипт готов, нужны данные телефона"
